body {
  background-color: lightgray;
  color: black;
  margin: 10px;
}

.grid-container {
  display: inline-grid;
  grid-template-columns: auto auto auto auto;
  grid-auto-columns: min-content;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.message-grid {
  grid-template-columns: auto auto;
}

.grid-item {
  padding-left: 1em;
}